# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyfin
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    ingress:
      app:
        enabled: true
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/description: Media Library
          gethomepage.dev/widget.type: jellyfin
          gethomepage.dev/widget.key: '{{ "{{" }}HOMEPAGE_VAR_JELLYFIN_API_KEY{{ "}}" }}'
          gethomepage.dev/widget.url: "http://jellyfin.default.svc.cluster.local:8096"
          gethomepage.dev/icon: jellyfin
        className: internal
        hosts:
          - host: &host "jelly.${SECRET_DOMAIN_INT}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    controllers:
      jellyfin:
        replicas: 1
        type: statefulset
        strategy: RollingUpdate
        rollingUpdate:
          maxUnavailable: 100%
          maxSurge: 0
        annotations: {}
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.5@sha256:cd7e4cb71812dd76988a725da615e37c6d0d24c200be904ad5d183e51f1dc6ed
            env:
              TZ: ${CLUSTER_TZ}
              APP_SERVICE_PORT: &containerPort 8096
              JELLYFIN_PublishedServerUrl: "internal=https://jelly.${SECRET_DOMAIN_INT}"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *containerPort
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 200m
                memory: 1Gi
              limits:
                memory: 4Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: *containerPort
    persistence:
      config:
        existingClaim: jellyfin-data
        globalMounts:
          - path: /config
      public:
        enabled: true
        existingClaim: smb-public-pvc
        type: persistentVolumeClaim
      tmpfs:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
                subPath: cache
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
