controllers:
  miniflux:
    containers:
      app:
        env:
          - name: CREATE_ADMIN
            value: 1
          - name: RUN_MIGRATIONS
            value: 1
          - name: BASE_URL
            value: https://rss.${SECRET_DOMAIN_INT}
          - name: AUTH_PROXY_HEADER
            value: Remote-User
          - name: AUTH_PROXY_USER_CREATION
            value: 1
          - name: TRUSTED_REVERSE_PROXY_NETWORKS
            value: 100.64.0.0/16
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: pgsql-miniflux
                key: DATABASE_URL
