apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrepo.yaml
  - ./helmrelease.yaml
  - ./garage.secret.sops.yaml
  - ../cluster/pg17-monolith.yaml
# configMapGenerator:
#   - name: vm-kube-state-metrics-cm
#     files:
#       - values.yaml=./vm-kube-state-metrics-cm.yaml
# configurations:
#   - ./helm/kustomizeconfig.yaml
