---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAuth
metadata:
  name: external
  namespace: observability
spec:
  replicaCount: 2
  selectAllByDefault: true
  ingress:
    class_name: internal
    host: vme.${SECRET_DOMAIN_INT}
  unauthorizedUserAccessSpec:
    targetRef:
      crd:
        kind: VMSingle
        name: external
        namespace: observability
