# https://github.com/dragonflydb/dragonfly-operator
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: dragonfly-operator
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.3.1
  url: oci://ghcr.io/dragonflydb/dragonfly-operator/helm/dragonfly-operator
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dragonfly-operator
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
  values:
    replicaCount: 1
    crds:
      install: true
      keep: false
    fullnameOverride: *app
    serviceAccount:
      create: true
    service:
      type: ClusterIP
      port: 8443
      metricsPort: 8080
    # Service monitor is broken in the current chart version, the deployment has a hardcoded localhost-only
    # metrics port. Besides, the metrics here are not as useful as the ones exposed by cluster pods.
    serviceMonitor:
      enabled: false
    grafanaDashboard:
      enabled: true
      folder: database
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 256Mi
