---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpoller
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      unpoller:
        containers:
          app:
            image:
              repository: ghcr.io/unpoller/unpoller
              tag: v2.21.0@sha256:a08b532be181256318211b6170691e316d29ac04575bc54d59620189953f03aa
            env:
              TZ: ${CLUSTER_TZ}
              UP_UNIFI_DEFAULT_URL: https://192.168.0.2
              UP_INFLUXDB_DISABLE: true
              UP_UNIFI_DEFAULT_SAVE_DPI: true
              UP_UNIFI_DEFAULT_SITE_0: "default"

            envFrom:
              - secretRef:
                  name: unpoller-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: &port 9130
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 128Mi
    defaultPodOptions:
      annotations:
        secret.reloader.stakater.com/auto: "true"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
    service:
      app:
        controller: unpoller
        ports:
          metrics:
            port: *port
    serviceMonitor:
      app:
        serviceName: unpoller
        endpoints:
          - port: metrics
            scheme: http
            interval: 2m
            scrapeTimeout: 15s
