# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web-automated
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    ingress:
      app:
        annotations:
          nginx.ingress.kubernetes.io/auth-method: "GET"
          nginx.ingress.kubernetes.io/auth-url: "http://authelia.auth.svc.cluster.local:9091/api/authz/auth-request"
          nginx.ingress.kubernetes.io/auth-signin: "https://auth-k8s.${SECRET_DOMAIN_INT}?rm=$request_method"
          nginx.ingress.kubernetes.io/auth-response-headers: "Remote-User,Remote-Name,Remote-Groups,Remote-Email"
          gethomepage.dev/enabled: "true"
          gethomepage.dev/pod-selector: app.kubernetes.io/name=calibre-web-automated
          gethomepage.dev/group: Media
          gethomepage.dev/name: Calibre Web Automated
          gethomepage.dev/icon: calibre-web-automated-book-downloader
          gethomepage.dev/description: Book Library
          gethomepage.dev/widget.type: calibreweb
          gethomepage.dev/widget.username: '{{ "{{" }}HOMEPAGE_VAR_CALIBREWEB_USERNAME{{ "}}" }}'
          gethomepage.dev/widget.password: '{{ "{{" }}HOMEPAGE_VAR_CALIBREWEB_PASSWORD{{ "}}" }}'
          gethomepage.dev/widget.url: http://calibre-web-automated.default.svc.cluster.local:8083
        enabled: true
        className: internal
        hosts:
          - host: &host "books.${SECRET_DOMAIN_INT}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    controllers:
      calibre-web-automated:
        replicas: 1
        strategy: Recreate
        annotations: {}
        containers:
          app:
            securityContext:
              allowPrivilegeEscalation: false
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: v4.0.6
            env:
              TZ: ${CLUSTER_TZ}
              # cache book covers in pv
              CACHE_DIR: /config/cache
              APP_SERVICE_PORT: &containerPort 8083
              PUID: 1000
              PGID: 1000
              NETWORK_SHARE_MODE: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 5m
                memory: 348Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: *app
        ports:
          http:
            port: *containerPort
    persistence:
      config:
        enabled: true
        existingClaim: calibre-web-automated-config
      db:
        enabled: true
        type: persistentVolumeClaim
        size: 100Mi
        accessMode: ReadWriteOnce
        storageClass: longhorn-standard
        globalMounts:
          # this path is enforced by CWA :/
          - path: /calibre-library
      public:
        enabled: true
        existingClaim: smb-public-pvc
        type: persistentVolumeClaim
        globalMounts:
          - path: /public/Library
            subPath: Library
          - path: /cwa-book-ingest
            subPath: Library/Calibre-Import
          # - path: /books
          #   subPath: Library/Calibre
