---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: filesystem-trim
  namespace: longhorn-system
spec:
  task: filesystem-trim
  cron: "0 3 */3 * *"
  retain: 1
  concurrency: 1
  groups:
    - default
